[2020-12-18 15:32] meevans1 opened #1 "Add authors"

[2020-12-18 15:32] meevans1 commented on #1
@allcontributors please add @meevans1 for content

[2020-12-19 10:25] klieret commented on #1
@meevans1 In order for the authors to show up on the webpage, set `show_authors: true` in `_config.yml`. I added the small switch to avoid having an empty authors section show up everywhere where we didn't add anyone yet :)

[2021-06-24 10:34] meevans1 opened #4 "Add data to lesson"
A way to access the Open Data that'll be used to make plots with matplotlib is needed. This could be done through kaggle like the HSF ML module.

[2021-06-24 10:36] meevans1 opened #5 "Step-by-step approach to making plots"
The making of a full e.g. Data/MC plot needs to be broken down into steps. e.g.
1) histogramming a single MC
2) stacking multiple MC
etc

[2021-06-24 10:37] meevans1 opened #6 "Tasks and challenges for students"
Some steps in the full process to get e.g. Data/MC plot should be completed by the student. With the HSF style of challenge and hidden solution

[2021-06-24 10:40] meevans1 opened #7 "Other types of plot"
Currently in the lesson draft are:
1) Data vs MC plot
2) Data only plot with fit

Other types of plot commonly used in HEP could be added, e.g. Data/MC ratios, overlain BSM signal...

Ideally these plots would use ATLAS Open Data for consistency with the current types of plot.

[2021-07-07 10:31] meevans1 commented on #4
Resolved in commit https://github.com/hsf-training/hsf-training-matplotlib/commit/059125d8666e22241f9ed639c57f6f8a65aea68a

[2021-07-07 10:31] #4 closed, assigned to meevans1

[2021-08-23 15:26] amangoel185 opened #9 "Overall structure and plan of action for the module"
These are the key points that @meevans1 and I discussed for the module. We need to keep in mind and add/do the following things going forward:

- [x] Notebook Links on the webpage need to be corrected
- [x] ~~Fix the GIF rendering in the main notebooks~~ (not required)
- [x] Add a _Physics Background_ page that discusses the relevant concepts used in the plots - @meevans1
- [x] Add a _Data Discuss

[2021-09-15 12:23] meevans1 commented on #9
*Physics background* and *Data Discussion* tasks done in commit 797d1b8746107e00a7ad44910842873983cb38ed

[2021-09-20 21:19] meevans1 commented on #9
*Order of all the functions* done in commit 26705a974e6a85b1f9d3ad70cee882dec469f10f

[2021-09-20 21:20] meevans1 commented on #9
Hi @amangoel185 I've done the tasks you tasked you've tagged me in. Are you ok to start on the rest? Let me know if you need me for any part.

[2021-09-20 21:38] meevans1 commented on #9
*Notebook link* fixed in 1b8777e26fd5800470913fd6463bea67b553244e

[2021-12-04 13:00] klieret opened #12 "Link to cheatsheet"
Hi, I've just seen that matplotlib now has several official cheatsheets on its webpage: [cheatsheets](https://matplotlib.org/cheatsheets/). This is probably worth a prominent shoutout, I'm sure those come in very handy for beginners

[2021-12-21 13:17] michmx opened #14 "Merge conflict not solved in source code"
There are a couple of lines from a non-solved merge issue in lesson_check.py:
[code]
https://github.com/hsf-training/hsf-training-matplotlib/blob/59b1707490c5aa2cd8c97b869254c86d33c8e6ff/bin/lesson_check.py#L224

This is producing that the action `make lesson-check-all` fails.

[2021-12-21 13:23] michmx commented on #14
Hi @klieret , I saw the issue here but I guess this must be propagated to other repositories.

[2022-03-07 13:34] amangoel185 opened #25 "Refine module and fix minor issues"
Some minor issues I noticed which we need to fix:

- [x] Recalibrate the timing mentioned in module
- [x] Match all the names for the data and the modules
- [x] Restructure the data repository
- [x] Decide structure for Collab and .ipynb linking
- [x] `FIXME: home page introduction` left out in the [homepage](https://hsf-training.github.io/hsf-training-matplotlib/)
- [x] The link for `HSF training

[2022-03-07 15:25] michmx opened #26 "Fix the "Key Points" for each chapter"
In each section, the "Key points" at the bottom are quite empty. Such sections are a great opportunity to highlight what students should have learned and confirm if the goals were reached, or something else must be reviewed again.

Please check the Key Points for the chapters.

[2022-03-07 15:29] amangoel185 commented on #14
This got fixed in #20!

[2022-03-07 15:33] michmx commented on #14
Ok, thanks! I am closing this issue. And thanks @klieret  for the fix.

[2022-03-07 15:33] #14 closed, assigned to klieret

[2022-03-13 16:12] amangoel185 opened #29 "Update content of the Dimuon spectrum chapter"
The updated content from [ep05_CMS_Dimuons.ipynb](https://github.com/plttraining/hsf_matplotlib_notebooks/blob/main/ep05_CMS_Dimuons.ipynb) needs to be added to the [Dimuon spectrum](https://hsf-training.github.io/hsf-training-matplotlib/07-Dimuonspectrum/index.html) chapter

[2022-03-21 15:56] amangoel185 opened #32 "Add coffee breaks in the module"
Refer to [Introduction to Docker](https://hsf-training.github.io/hsf-training-docker/07-coffee-break/index.html)

[2022-03-21 15:58] amangoel185 opened #33 "Add videos for setup"
- [x] @michmx would help with local setup
- [x] Make videos for Colab and Binder too

[2022-03-23 00:49] #29 closed, assigned to nobody

[2022-03-23 13:58] #9 closed, assigned to nobody

[2022-03-23 15:16] meevans1 commented on #5
Looks resolved to me, thanks all!

[2022-03-23 15:16] #5 closed, assigned to nobody

[2022-03-23 15:16] meevans1 commented on #6
Looks resolved to me, thanks all!

[2022-03-23 15:16] #6 closed, assigned to nobody

[2022-03-23 15:18] meevans1 commented on #7
This may not have been done, but I’m in favour of sticking to simple plots to keep the module short

[2022-03-23 15:18] #7 closed, assigned to nobody

[2022-03-23 15:20] meevans1 commented on #9
Issues #5 , #6, #7 have been reviewed and closed

[2022-04-20 16:26] #32 closed, assigned to nobody

[2022-04-20 16:49] GuillermoFidalgo commented on #33
Done with the video I think

[2022-04-21 12:02] klieret opened #44 "Reformat code with black?"
The code style of the examples is still relatively inconsistent (spacing, different quotation marks, etc.).

I would recommend to use [`black`](https://github.com/psf/black) to format most of the major snippets. This is a very popular (and sensible) standard, so I think we should adhere to that.

[2022-04-21 12:22] klieret opened #45 "Vectorize computations"
The loops that we use in the dimuon example are an example of code that should be vectorized with numpy.

And it's relatively easy to do so.

[2022-04-21 12:27] klieret commented on #45
https://github.com/hsf-training/hsf-training-matplotlib/pull/46 should work (I tested it with some random numbers), but someone should take a closer look at this.

[2022-04-21 12:30] klieret opened #47 "More elegant way of creating multiple near-identical plots"
https://github.com/hsf-training/hsf-training-matplotlib/blob/gh-pages/_episodes/07-dimuonspectrum.md?plain=1#L269-L297

Here we could simply use a loop and produce several separate plots instead.

Or we could use the following pattern

[code]

[2022-05-09 13:58] klieret commented on #33
Hi! Should this issue be closed? Or where was the video added?

[2022-05-30 14:55] michmx opened #48 "Use object-oriented matplotlib API"
Let's move examples and exercises of the module to an object-oriented approach.

Currently, the module uses the pyplot interface:
[code]

The object-oriented interface gives more control when we create figures that contain multiple plots, and it is recommended even for beginners. For example:
[code]

Originally proposed by Thomas Caswell. And a nice post about the motivation behind:
https://daniel

[2022-05-30 15:14] klieret commented on #26
Hi @michmx . Can this be closed?

[2022-05-30 15:36] klieret commented on #48
(I think the  `(1)` in `subplots` is superfluous, right?)

[2022-05-30 16:17] michmx commented on #48
Oh right, not needed.

[2022-07-13 15:25] klieret opened #50 "Rename repository/module"
Module should be named `hsf-training-matplotlib-webpage`

[2022-07-18 17:17] klieret opened #52 "Why does allcontributor badge only show "2"?"
Seems like the readme wasn't properly updated...

[2022-07-20 15:40] klieret commented on #50
this won't break the git, but probably links to the rendered webpage, so maybe we should drop this

[2022-07-20 15:40] klieret commented on #1
This seems to be resolved

[2022-07-20 15:40] #1 closed, assigned to nobody

[2022-07-24 15:11] klieret opened #55 "Rework intro paragraph"
Some people might not even know what matplotlib is, so going all meta-tutorial might be a bit too much ;)

[2022-07-24 15:11] klieret opened #56 "Link to previous events and/or complete videos"

[2022-07-24 15:15] #50 closed, assigned to nobody

[2022-07-24 15:21] klieret opened #58 "Different memes for breaks"
This still shows docker related stuff.

Maybe introduce `catplotlib` instead as a fun spare-time exercise? ;)  (https://github.com/achabotl/catplotlib/)

Or `plt.xkcd()`?

![image](https://user-images.githubusercontent.com/13602468/180654046-2874c5df-faae-4770-b1f0-fef8135338a9.png)

Source: https://www.reddit.com/r/Python/comments/7x7izl/i_did_a_meme/

[2022-07-24 15:23] klieret commented on #25
Can you open separate issues for what's left so we can parallelize more easily at the hackathon? @amangoel185

[2022-07-24 15:29] klieret commented on #45
It might also be an idea to keep both versions of the code because the vectorized version might be harder to read for new students.

[2022-07-24 21:24] klieret opened #59 "Use data keyword"
Matplotlib understand a `data` keyword like so:

[code]

this can help to cut down on duplicated code, especially when we do queries.

Can/should we use this somewhere?

[2022-07-25 12:02] amangoel185 opened #60 "Reduce size of images in the module"
The dimensions of the plot images are too large in some episodes and need to be reduced. In reference with #25.

[2022-07-25 12:04] amangoel185 opened #61 "[DOCS] Add information to the CITATION file"
In reference with #25.

[2022-07-25 12:06] amangoel185 commented on #25
I have opened two new issues (#60 and #61) for the pending tasks. Closing this issue now.

[2022-07-25 12:06] #25 closed, assigned to nobody

[2022-07-25 12:12] amangoel185 opened #62 "[DOCS] Update README.md"
- [ ] Add module information to `README.md`
- [ ] Update maintainers

[2022-07-25 12:16] amangoel185 commented on #58
I was thinking of `catplotlib` too!

[2022-07-25 13:56] klieret commented on #61
I wonder if this shouldn't just become a standardized file across all lessons. Or be automatically updated with the allcontributors bot or something similar?

[2022-07-25 13:57] klieret commented on #62
Copy the intro paragraph after #55 is done

[2022-07-25 14:14] amanmdesai opened #63 "Add example to the "Linestyles and markers" section."

[2022-07-25 14:20] michmx commented on #26
Sorry for the very late comment, @klieret. I will take a look at the chapters and include key points.

[2022-07-25 14:20] klieret commented on #44
We could probably use https://github.com/asottile/blacken-docs to make it automatic

[2022-07-25 14:31] ekauffma opened #64 "Add ratio plot or residual plot tutorial"
Ratio plots or residual plots are commonly used in HEP figures. It may be a good idea to include an example using mplhep (perhaps on one of the existing histograms with errorbars).

[2022-07-25 14:48] amorenobr opened #65 "Episode 3: Physics - Feynman Diagrams"
The Feynman package allows to draw Feynman diagrams using matplotlib. This could be included in this episode in order to show more examples and applications

[2022-07-25 14:53] klieret opened #66 "How to maintain separate repository with notebooks/binder/etc."
There is a separate repository (https://github.com/hsf-training/hsf_matplotlib_notebooks), soon to be transferred to this organization that contains pre-filled notebooks.

How do we maintain them in the future?

[2022-07-25 14:55] amanmdesai commented on #63
plt.plot(x1,y1,'--k',label="Black Dashed line")
plt.plot(x1,y2,':g',label="Green Dotted line style")
plt.plot(x1,y3,'o b',label="Blue Circle marker")
plt.legend()
plt.show()

maybe add these lines to the section ?

[2022-07-25 15:01] amangoel185 commented on #66
There might be similar workflows in The Carpentries which we could look into!

[2022-07-25 15:02] amanmdesai commented on #65
I have a couple of scripts here (for Higgs-strahlung)

https://github.com/amanmdesai/Feynman-Diagrams/blob/master/higgs_strahlung.py

or this one if you want to show decays of Higgs

https://github.com/amanmdesai/Feynman-Diagrams/blob/master/higgs_cc.py

[2022-07-25 15:04] klieret commented on #44
If you need a snippet to test this:

	  # Test

	  asdlfkj sldfkj sdflj

[code]

then run `blacken-docs`

[2022-07-25 15:06] amangoel185 commented on #56
Should we add this to the home page?

[2022-07-25 15:09] amorenobr commented on #65
Yes Aman, that would be the idea...

[2022-07-25 15:11] Marchela04 commented on #48
In chapter 4 there was an example using OO interface, if everything is going to be changed, please remove the line "In order to do this, we will use the subplot function. Notice that in this case, we are creating a figure and defining the axes of the figure directly, the syntax of the functions that we call for these axes change a bit with respect to the ones using only pyplot."

[2022-07-25 15:34] klieret opened #67 "allcontributors faces do not show up on webpage"
This might be related to switching to the theme.

[2022-07-25 15:35] amanmdesai commented on #65
How about adding this:

[code]

Here is the code with comments

https://github.com/amanmdesai/Feynman-Diagrams/blob/master/higgs_ZH_production_hcc.py

[2022-07-25 15:45] amorenobr commented on #65
That looks great Aman. I think it is important to make everything clear, as much as we can.

I don't know if you have had any problem with that, but in my case Feynman runs with python 2.

[2022-07-25 15:59] amanmdesai commented on #65
I am using Python 3.10.4

[2022-07-25 15:59] ekauffma commented on #64
episode 5 may be a good spot to add this!

[2022-07-25 16:00] klieret commented on #65
Hi @amanmdesai @amorenobr Thanks a lot for starting this! I think we were discussing this a long time ago in one of our training meetings. I'm a bit wary of pushing too many "walls of code" on the students and I think that this will be more of a special use case of matplotlib.
But I think it would indeed be a fun bonus episode that can be included depending on the time budget of the workshop or fo

[2022-07-25 16:04] klieret commented on #64
Linking https://github.com/scikit-hep/mplhep/issues/153 as mentioned by @ekauffma : mplhep doesn't seem to have anything built in to do this at the moment...

[2022-07-25 16:46] #26 closed, assigned to michmx

[2022-07-25 16:52] amorenobr commented on #65
I agree with you @klieret. Maybe we could add these codes in hidden sections right below every diagram in this episode, so if anybody is interested in learning something fun can take a look :)

[2022-07-25 16:58] klieret commented on #52
Closed with #74

[2022-07-25 16:58] #52 closed, assigned to nobody

[2022-07-25 17:01] #33 closed, assigned to nobody

[2022-07-25 17:01] klieret commented on #33
Done in #49

[2022-07-25 17:04] klieret commented on #67
Solved in #74

[2022-07-25 17:04] #67 closed, assigned to klieret

[2022-07-25 17:31] klieret opened #76 "Use f-strings (episode 4)"
[code]

should use f-strings

[2022-07-25 17:33] klieret opened #77 "Reduce redundancy with keyword-argument dictionaries"
Example in episode 4:

[code]

just define

[code]

[2022-07-25 17:34] klieret commented on #76
Also a lot of `varname + units` should better be f-strings

[2022-07-25 17:37] klieret opened #79 "plotData -> plot_data"
function names should be lower case

[2022-07-25 17:40] klieret opened #80 "Episode 5 "Getting the data": Loop over filenames rather than paths"
[code]

can be done much more elegant by taking a list of filenames and then using a list comprehension

[2022-07-25 17:46] amangoel185 commented on #61
Not sure if there is already something to automate it, but it might require a few custom entries.

[2022-07-25 17:59] #59 closed, assigned to nobody

[2022-07-25 17:59] #44 closed, assigned to nobody

[2022-07-25 18:00] klieret commented on #48
Thanks for the hint @Marchela04 I've checked and Wouter removed it :)

[2022-07-25 18:00] #48 closed, assigned to GuillermoFidalgo

[2022-07-25 18:09] klieret commented on #65
Ah, I also really like that idea :)

[2022-07-25 18:10] klieret commented on #56
Yeah, I'd say so. We could put it in a callout box

[2022-07-25 18:11] klieret commented on #63
Sounds good :)

I'd say we should include this as an exercise even

But please use the `fig, ax = ...; ax.plot(..)` style (see the updated previous examples)

[2022-07-25 18:14] klieret commented on #45
Merged with #46

[2022-07-25 18:14] #45 closed, assigned to nobody

[2022-07-26 08:50] amanmdesai commented on #63
Yes sure we can include this as an exercise. Here is the updated code:

fig, ax = plt.subplots()  # Create a figure containing a single axes.
ax.plot(x1,y1,linestyle='--',label="Dashed line")
ax.plot(x1,y2,linestyle=':',label="Dotted line style")
ax.plot(x1,y3,marker='o',label="Circle marker")
ax.legend()
plt.show()

[2022-07-26 09:03] amanmdesai commented on #65
The idea sounds good. Codes to the Feynman diagrams could be found here:

https://github.com/GkAntonius/feynman/tree/master/examples/Particle_Physics

1 . [plot_VBF.py](https://github.com/GkAntonius/feynman/blob/master/examples/Particle_Physics/plot_VBF.py)
2. [plot_VH.py](https://github.com/GkAntonius/feynman/blob/master/examples/Particle_Physics/plot_VH.py)
3. [plot_ggF_SM.py](https://github.com

[2022-07-26 09:14] amanmdesai opened #81 "Add Bonus Exercise to reproduce the Higgs Branching Ratio vs Higgs Mass plot."
This issue is in reference to the plot in episode 3:   Branching Ratio(s) vs Higgs Mass

(Link https://hsf-training.github.io/hsf-training-matplotlib/03-physics/index.html#:~:text=hadron%20collider%20are-,The%20Higgs%20boson,-can%20decay%20into)

[2022-07-26 14:08] klieret commented on #65
We could simply wrap it in a HTML details element like so:

[code]

So feel free to open a PR for that.

For consistency, please format your code with [black](https://github.com/psf/black)

[2022-07-26 14:12] klieret commented on #81
Good idea, but I'm a bit wary about adding more datasets to the lesson if not needed (because it shifts complexity towards loading data or understanding datasets rather than the actual *plotting*)

Also, from a learning-matplotlib perspective, what would be the benefit? It seems that this would probably be several `ax.plot` calls, right?

But I'm not at all against adding it as an expandible/folda

[2022-07-26 14:16] klieret commented on #63
Could you run [black](https://github.com/psf/black) on this snippet?

Then you could wrap it in an exercise block and open a PR for it :)

[2022-07-26 14:21] klieret commented on #47
This was closed in #46

[2022-07-26 14:21] #47 closed, assigned to nobody

[2022-07-26 16:26] amorenobr commented on #65
Thanks @klieret and @amanmdesai. I'll open a PR as soon as I can... :)

[2022-07-26 17:06] klieret opened #83 "OO API + black formatting for episode 1"

[2022-07-26 17:38] #63 closed, assigned to amanmdesai

[2022-07-26 17:50] amorenobr commented on #81
Actually, I was thinking on doing the same... :) something simple without introducing new datasets, just trying to use (and keep practicing) what they learn in the introduction section. This could be something similar to the Feynman diagrams, show the plot and then a hidden section with an example. The idea is always to show all the possibilities that you can have using matplotlib, and also, since

[2022-07-26 17:52] amanmdesai opened #88 "OO API + black formatting for episode 5"
Following issue #83 for episode 5 mplhep

[2022-07-26 17:58] klieret commented on #88
To me it looks like episode 5 is already converted though, right? Or did I miss something?

[2022-07-26 18:00] amanmdesai commented on #88
when I ran black command, I see the following output:

1 file reformatted for some of the snippets

This is only for 4 of the snippets or so

[2022-07-26 18:11] amanmdesai commented on #88
Yes, you are right. Episode 5 is already converted.

Any other episode that needs to be converted?

[2022-07-26 18:42] klieret commented on #88
Oh, if there's more, feel free to open PRs for it.

I'm not aware of any other snippets other than those of episode 1 (#83)

[2022-07-26 19:15] amanmdesai commented on #88
Hi, I tried to run black on some snippets and the comparison can be seen here:

https://github.com/hsf-training/hsf-training-matplotlib/compare/gh-pages...amanmdesai:hsf-training-matplotlib:test-episode-5-black?diff=split

Could you please take a look and see if this is what we want? (I am a bit confused here).

Thanks.

[2022-07-26 19:17] klieret commented on #88
Oh, indeed!!

I had only taken a quick look and thought it had already been applied.

Yes, please open a PR for it!

[2022-07-26 19:39] #88 closed, assigned to nobody

[2022-07-26 20:04] klieret opened #90 "add black-docs to pre-commit config"

[2022-07-27 20:56] klieret commented on #90
Link https://github.com/hsf-training/hsf-training-ml-webpage/issues/16

[2022-07-27 20:57] klieret commented on #83
https://github.com/hsf-training/hsf-training-ml-webpage/issues/16

[2022-07-28 09:39] amanmdesai commented on #81
Hi @amorenobr , @klieret , my idea was to use the formula of Higgs decay width and try to generate the plots of branching ratios. The formulas can be found in any particle physics book and are valid at the tree level. It does not involve using any dataset.

 But there seems to be some complexity involved and I am not so far successful in finding the answer.  Complexity is related to the H->VV deca

[2022-07-28 15:43] #12 closed, assigned to nobody

[2022-07-28 15:43] #79 closed, assigned to nobody

[2022-07-28 15:48] klieret opened #94 "Modified blacken-docs fails on some files"
_Originally posted by @amanmdesai in https://github.com/hsf-training/hsf-training-ml-webpage/issues/16#issuecomment-1197565311_

[2022-07-28 15:50] amanmdesai commented on #94
Is there a way we can fix this in blacken-docs?

[2022-07-28 15:53] klieret commented on #94
Ah, this is actually wrong in the lesson: `pip install ...` is not valid python. It's a bash command.

So this should be fixed by moving `pip install ...` to a `bash` code snippet like so

[code]

[2022-07-28 15:54] amanmdesai commented on #94
Right. I will make this change.

[2022-07-28 15:55] klieret commented on #94
This is the full output:

[code]

The other errors are probably because there's output mixed with python code.

The only thing I don't know what to do with is the `%matplotlib inline` thing (it's not valid python, but only valid ipython). We could just move it to a general code block without language.

[2022-07-28 15:59] amanmdesai commented on #94
Is there some way we could make blacken-docs treat %matplotlib inline as a comment?

[2022-07-28 16:02] klieret commented on #94
I think there's the `--python-cell-magics` option to `black` (this is the tool for the actual formatting), but `blacken-docs` doesn't pass it on...

[2022-07-28 16:03] klieret commented on #94
I think adding it as a separate cell without the `python` language specification is probably best. The line is probably separately explained anyway

[2022-07-28 16:14] amanmdesai commented on #94
Yes. That's easier.

[2022-07-28 17:03] klieret commented on #81
My intuition here is still that this is a bit out of the scope of the training itself. I'd also consider the Feynman diagrams a bit of a bonus, but there at least it's really centered on the _plotting_ and shows to what lengths matplotlib can be used.

But in this example, the plotting itself is the trivial bit and the physics and generation of the curves is difficult.

And even if we add it to th

[2022-07-28 17:09] amanmdesai commented on #81
Sounds good @klieret.

I am still working on my repository. Perhaps I will reopen this issue when I am done with the plots/code and we could add/discuss the link then?

Thanks very much @klieret  and @amorenobr  for the discussions.

[2022-07-28 17:10] klieret commented on #81
Sure :)

[2022-07-28 17:10] #81 closed, assigned to nobody

[2022-07-30 11:59] amanmdesai commented on #94
Hi,
I am able to reproduce the errors, is there a fix/suggestion on how to overcome .output block?

I tried to use 'bash' block instead of 'output', but it doesnt work.
Thanks

[2022-07-30 13:17] amanmdesai opened #97 "Add Feynman diagrams for Background Processes (such as ZZ, others)"
Feynman diagrams for the main signal process are already given, however there is no Feynman diagram for the background processes.

It will be useful to have some Feynman diagrams for the background processes.

[2022-07-31 16:25] klieret commented on #94
That's definitely a bug that I introduced :(   (basically I'm matching from `~~~` to the next `~~~\n{: .language-python}` block, so it just skips the `~~~\n{: .output}`...

Minimal example to reproduce

[code]

[2022-07-31 16:33] amanmdesai commented on #94
I also noticed that at some places we are using
episode 1 for instance

```python `
``
whereas at others we use {: .language-python}, the example you showed for instance.

Is that something that needs a fix..i.e, making the repo more consistent?

[2022-07-31 16:41] klieret commented on #94
Yes, this might be another way to handle this issue.

Can you check if the two markups leads to any perceivable difference in the outputs?

[2022-07-31 16:42] amanmdesai commented on #94
Sure I will check.

[2022-07-31 16:58] amanmdesai commented on #94
There is no observable difference in the output.

output 1 (using 3 `)
fig, ax = plt.subplots()
ax.set_title("First look at samples")
ax.hist(branches["data_A"]["m4l"])

the other output
fig, ax = plt.subplots()
ax.set_title("First look at samples")
ax.hist(branches["data_A"]["m4l"])

both are same.

[2022-08-01 20:35] klieret commented on #94
No I meant on the rendered website. But I also think that there's probably no difference.

[2022-08-02 01:22] amanmdesai commented on #94
Yeah I tested with the rendered website (using local build). There's no difference.

[2022-08-02 02:23] amanmdesai commented on #94
You may check the website results here: https://amanmdesai.github.io/hsf-training-matplotlib/02-coffee-break/index.html

The markdown file where I implemented this: https://github.com/amanmdesai/hsf-training-matplotlib/blob/test-branch/_episodes/02-coffee-break.md

The python block does not have visible differences.

[2022-08-03 06:18] amanmdesai commented on #97
@klieret   what is your opinion about this?

[2022-08-03 14:59] klieret commented on #97
So how many diagrams would that be? And would they directly tie in to some of the things that are explained in the tutorial later on (as in, will you actually refer back to them in one of the episodes)?

My personal opinion is that the the course shouldn't focus too much on the physics (because people of different levels of physics understanding are completely mixed, so it'll only be at the right

[2022-08-03 15:23] amanmdesai commented on #97
Thanks @klieret.

Two (example) diagrams for the MC samples used in the lecture should suffice.

1. llll (without higgs)
2. Zee & Zmumu

+ a few (2-3) sentences on what we mean by "background". The idea is illustrate what we mean by background explicitly in the episode (I could not find that in the module).

Perhaps for someone it could be confusing as to why we are using ZZ, Zee, and Zmumu sample

[2022-08-03 18:48] klieret commented on #97
Yes, I guess adding two diagrams and a few sentences wouldn't hurt :)

(I'm still going to mark this as low priority, because it doesn't have anything to do with mpl)

[2022-08-04 07:24] amanmdesai commented on #97
Thanks @klieret!

[2022-08-04 07:46] eduardo-rodrigues opened #99 "On the maintainability of the Feynman package"
Hi all, I thought I would drop a comment on the maintainability/sustainability of the [feynman package](https://github.com/GkAntonius/feynman) given that you are using it more and more in these lectures and it happens that I got in touch recently with the author. He stated that "*Thank you for your email. I'm happy that my code is useful to the HEP community, but my primary interest is in condense

[2022-08-05 22:17] klieret commented on #99
Thanks a lot @eduardo-rodrigues for pointing this out, I didn't know.

I still consider the use of the Feynman package in this module a "nice to have bonus thing" rather than core content. Generally I feel like the focus of the module could still be improved by sidelining physics, data processing and similar things to really concentrate on matplotlib.

Regarding the future of the Feynman package:

[2022-08-05 22:23] klieret commented on #99
Until https://github.com/hsf-training/hsf-training-matplotlib/issues/65 actually happens we also currently don't show any code examples for Feynman.

I'm not an expert on creating Feynman diagrams, so I also can't tell how competitive `feynman` is vs the various LaTeX-based diagram creators...

[2022-08-07 16:22] klieret commented on #97
Also note the discussion in #99

[2022-08-07 16:47] amanmdesai commented on #99
Hi @eduardo-rodrigues,

Thanks very much for this information.

I find the feynman package easier to use compared to the latex based package (e.g., tikz-feynman).

If there is an effort to maintain the feynman package for the HEP community for the future, then I would be interested to participate in that effort.​​

[2022-08-08 11:43] eduardo-rodrigues commented on #99
I tend to agree with you - it is a "nice to have bonus thing".

Activity is indeed not trememdous. I often look for similar status with PePy, see https://pepy.tech/project/feynman in this case. You get similar conclusions from there.

[2022-08-08 11:46] eduardo-rodrigues commented on #99
I can't comment as I have not used tikz-feynman or similar in a while ;-).

I am not aware. But it would be a possibility, IMO, to get in touch with the author and see if he would be interested in somebody or a group of people taking over the package ... Else it would seem good to let him know that usage is likely to increase and how he foresees to maintain the package alone, if. My 2 cents :-).

[2022-08-10 14:52] amanmdesai commented on #94
Hi @klieret,

this is just to know if the links look okay to you.
we can then implement it on episodes.

[2022-08-10 18:08] klieret commented on #94
Hi @amanmdesai thanks for testing this out!

Then I totally agree that we should just switch to the backticks version. It's also much easier to write. I could write a small script that converts it, or do you want to do something similar?

[2022-08-11 13:35] amanmdesai commented on #94
Thanks,

I will try to do it.

[2022-08-11 14:33] amanmdesai commented on #94
One further problem--  episode 4

while python blocks are now converted in my fork -[link](https://github.com/amanmdesai/hsf-training-matplotlib/tree/episode-4-update-python-block/_episodes)

the three backticks wont work for output block. I dont know why. Maybe this has to do with markdown or with framework?

Please check the rendered website of my fork: [link](https://amanmdesai.github.io/hsf-tr

[2022-08-11 15:12] klieret commented on #94
Yes, but that would be ok.

So we'd just convert the python blocks to the backticks notation and leave the output in the tilde notation

[2022-08-11 15:29] amanmdesai commented on #94
ok. sure.

[2022-08-11 19:07] amanmdesai commented on #94
Hi @klieret,  episode 5 doesnt give any error on using the modified blacken-docs, I think we already fixed the issue with pip install mplhep (see #95) and with #101 (for episode 4), I think this issue is resolved?

[2022-08-12 01:12] klieret commented on #94
Great! Thanks a lot for your work! :)

[2022-08-12 01:12] #94 closed, assigned to nobody

[2022-08-12 12:48] amanmdesai commented on #66
I just had a thought about this issue:

We can perhaps use some tool that converts our markdown file into jupyter-notebook content?

For instance, [this package](https://github.com/jupyter/nbconvert) converts jupyter notebook to markdown.
We could modify it to suit our requirement (markdown to jupyter notebook conversion)

[2022-08-14 11:49] amanmdesai opened #103 "Solution to the Bonus question in mplhep-05 looks incomplete"
Bonus question: how can something, that seems to have a mass of roughly 125 GeV decay via two Z bosons, with mass over 90 GeV?

[Link](https://hsf-training.github.io/hsf-training-matplotlib/05-mplhep/index.html#bonus-question-how-can-something-that-seems-to-have-a-mass-of-roughly-125-gev-decay-via-two-z-bosons-with-mass-over-90-gev:~:text=.show()-,Bonus,-question%3A%20how%20can)

[2022-08-15 14:28] GuillermoFidalgo commented on #76
Is there a preference to using f strings over the text formatting method?
I don't know f-strings myself in detail, are they interchangeable? Is there a benefit of one over the other?
[code]

[2022-08-15 15:23] klieret commented on #76
I think so.

* f-strings are usually more readable (no more jumping back and forth with placeholders)
* they are faster see e.g., [SO](https://stackoverflow.com/a/43123579/)

The example shown on top is a third option, but I don't think it's recommended (also slightly slower than f-strings).
Also python advocates the "only one way to do things" approach. And since f-strings support a superset of o

[2022-08-16 15:00] klieret commented on #83
Fixed with #102

[2022-08-16 15:00] #83 closed, assigned to nobody

[2022-08-16 16:17] klieret commented on #66
nbonvert is pretty great :)

I'm more thinking of going the other way: If we want to have a completely pre-filled notebook (not sure if we want to, see survey picture below), then I think we should use Jupyter notebooks and build a website from them using jupyter book.

![image](https://user-images.githubusercontent.com/13602468/184928773-16c5d9cc-2ecb-491f-8433-858868b7cb54.png)

Maybe with the a

[2022-08-16 16:39] amanmdesai commented on #66
Thats sounds good.

The [analysis-essentials](https://github.com/hsf-training/analysis-essentials/tree/master/advanced-python
) repo's advanced python module uses jupyter notebooks and website is generated from the notebooks for this particular topic (as far as I understand).  We can use a similar kind of workflow maybe.

Regarding survey: I think that having pre-filled notebooks is better as that

[2022-08-23 18:27] amanmdesai opened #105 "Add Glossary"
At present https://hsf-training.github.io/hsf-training-matplotlib/reference.html reads as follows:

## Glossary

Fixme...

[2022-08-23 19:52] klieret commented on #105
How about just adding the figure from "What goes into a plot?" there? This explains already a lot of jargon

[2022-08-24 02:50] amanmdesai commented on #105
Yeah that will suffice

[2022-08-25 13:04] #105 closed, assigned to nobody

[2022-09-01 13:46] klieret commented on #48
This is actually not done yet, see [this search](https://sourcegraph.com/search?q=context%3Aglobal+repo%3A%5Egithub%5C.com%2Fhsf-training%2Fhsf-training-matplotlib%24+%28plt.plot+or+plt.hist+or+plt.errorbar+or+plt.yticks%29&patternType=standard). I'll open separate issues for the different episodes.

[2022-09-01 13:48] klieret opened #109 "Use object oriented matplotlib"
See #48 for background/instructions.

See [this search](https://sourcegraph.com/search?q=context%3Aglobal+repo%3A%5Egithub%5C.com%2Fhsf-training%2Fhsf-training-matplotlib%24++%28plt.plot+or+plt.hist+or+plt.errorbar+or+plt.yticks%29&patternType=standard) for places that need changing.

This issue is for episode 1.

[2022-09-01 13:49] klieret opened #110 "Use object oriented matplotlib"
See https://github.com/hsf-training/hsf-training-matplotlib/issues/48 for background/instructions.

See [this search](https://sourcegraph.com/search?q=context%3Aglobal+repo%3A%5Egithub%5C.com%2Fhsf-training%2Fhsf-training-matplotlib%24++%28plt.plot+or+plt.hist+or+plt.errorbar+or+plt.yticks%29&patternType=standard) for places that need changing.

This issue is for episode 4.

[2022-09-01 13:50] klieret opened #111 "Use object oriented matplotlib"
See https://github.com/hsf-training/hsf-training-matplotlib/issues/48 for background/instructions.

See [this search](https://sourcegraph.com/search?q=context%3Aglobal+repo%3A%5Egithub%5C.com%2Fhsf-training%2Fhsf-training-matplotlib%24++%28plt.plot+or+plt.hist+or+plt.errorbar+or+plt.yticks%29&patternType=standard) for places that need changing.

This issue is for episode 7.

[2022-09-01 13:55] klieret opened #112 "General future of episode 7"
Sorry if this is provocative (and I didn’t have time to go through it in detail): But what is episode 7 “Dimuon spectrum” actually teaching? It seems to me that there is a lot of code and an added dependency on another dataset, but no new matplotlib/mplhep features are actually being introduced.

I understand that it's an interesting thing to do, but a similar example is also used in other tutoria

[2022-09-02 14:33] #110 closed, assigned to amanmdesai

[2022-09-02 14:39] #111 closed, assigned to amanmdesai

[2022-09-02 14:42] amanmdesai commented on #112
I think the idea for episode 7 is to have a challenge (with solutions) for the students?

https://hsf-training.github.io/hsf-training-matplotlib/07-dimuonspectrum/index.html#:~:text=the%20CMS%20experiment.-,Challenge,-!

[2022-09-02 14:53] #109 closed, assigned to amanmdesai

[2022-09-02 14:56] #90 closed, assigned to klieret

[2022-09-02 15:02] amanmdesai commented on #112
Perhaps if we convert this into a challenge episode completely?

[2022-09-02 15:05] klieret commented on #112
I just feel that the difficulty in the exercise lies anywhere but in plotting. The plotting steps seem almost trivial, but the rest definitely is not for someone at the level where they aren't even familiar with matplotlib.

[2022-09-02 15:43] amanmdesai commented on #112
yes I indeed agree with you. Maybe give python function to load dataset and other non-trivial stuff. and then the exercises only focuses on plotting.

[2022-09-02 15:49] amanmdesai opened #117 "OO+API for episode 1 lines 130-156"
As per discussion with @klieret (in #113), need to update lines 130-156 of episode 1

[2022-09-02 17:20] #117 closed, assigned to amanmdesai

[2022-09-02 19:25] klieret opened #119 "OO Ep 1 details in text"
See comments in #118

[2022-09-05 14:45] #119 closed, assigned to amanmdesai

[2022-09-05 14:53] klieret opened #122 "Explain object oriented vs `plt.X` style to students"
We should explain why using `fig, ax = plt.subplots()` and then `ax.XXX` is preferred by us over `plt.XXX`

[2022-09-12 15:13] #55 closed, assigned to nobody

[2022-09-13 15:01] klieret opened #126 "matplotlib inline and plt.show()"
Was also a question at pyhep: Is `plt.show()` really necessary?

I think we should explain what it does and also `%matplotlib inline`.

Might also talk about how return values are shown (sometimes leading to plots being shown double, which is why people then add `;`...)

[2022-09-13 15:32] klieret commented on #126
From @jpivarski

[2022-09-13 15:39] jpivarski commented on #126
The rationale for `plt.show()` that Alex Briceño gave, that it prevents the Matplotlib object `repr` from being shown, is not a strong reason. The same would be accomplished by replacing "`plt.show()`" with "`None`". What's happening is that Jupyter is showing the `repr` of the last Python object returned by the last line in the cell. (`plt.show()` returns `None`.)

A better argument could be made

[2022-09-13 15:49] amorenobr commented on #126
Thanks Jim for the clarification!

[2022-09-14 01:04] klieret opened #127 "Add callout box describing complicated assignment"
We use

[code]

in one of the episodes. That should probably be explained in detail?

[2022-09-14 01:08] klieret commented on #127
Probably called something like "return value unpacking" in python

[2022-09-16 05:40] amanmdesai opened #128 "Remove the linestyles and markers table and replace it with link to matplotlib docs"
Table is rather too long and has empty white spaces on the right-half, maybe copy-paste the content to make it more uniform (~ equal number of rows)

[2022-09-16 05:42] amanmdesai opened #129 "Keypoints from coffee breaks"
At the end of the page there are keypoints e.g. [LINK](https://hsf-training.github.io/hsf-training-matplotlib/02-coffee-break/index.html#key-points:~:text=to%20Docker%20lesson!-,Key%20Points,-previous%20episode)

These are not needed here

[2022-09-16 05:44] amanmdesai opened #130 "update keypoint for episode 3"

[2022-09-16 05:46] amanmdesai opened #131 "update sentence"
* "Is very important" > "It is very important" for example.
* "represent in you histogram" > "represent in your histogram"

[2022-09-16 05:53] amanmdesai commented on #129
applies to episode 2 and 6

[2022-09-16 16:10] klieret commented on #128
I'd be more radical than that and say: Remove the table and instead link to the matplotlib documentation and make it an exercise for students to find how to do a certain marker.

Copying things over is seldom good practice! Better to teach people where to find it!

[2022-09-16 16:21] amanmdesai commented on #128
that would be good as well.

[2022-09-16 16:23] amanmdesai commented on #128
maybe deleting something would be a good first issue (just for practice)

[2022-09-19 03:05] ghost commented on #131
1st merge included in the first sentence, but didn't update the " represent in you histogram". Will do another PR to have both fixed.

[2022-09-19 03:07] amanmdesai commented on #131
No worries. I opened a PR for that. Thanks.

[2022-09-19 03:11] ghost commented on #131
Understood, thanks for response.

[2022-09-19 03:13] amanmdesai commented on #131
just a minor comment in the latest #135. i think it looks good to me otherwise.  thanks

[2022-09-19 09:26] amanmdesai commented on #131
Closed with #135

[2022-09-19 09:26] #131 closed, assigned to nobody

[2022-09-27 11:47] eduardo-rodrigues opened #137 "Make a tag/release for PyHEP 2022 "proceedings""
Hello @klieret, can you or Alexander Moreno Briceño kindly prepare the tag/release so that I then use it to mint a DOI on Zenodo and attach it to the workshop "proceedings" https://zenodo.org/communities/pyhep2022? Advance thanks.

[2022-09-27 18:32] GrantOkawa commented on #129
Hi, I believe I can help out here and remove the keypoints from coffee breaks

[2022-09-27 18:33] klieret commented on #129
sure, go ahead

[2022-09-27 18:40] klieret commented on #137
Something like this: https://github.com/hsf-training/hsf-training-matplotlib/releases/tag/pyhep22  ?

Or should we also add a zenodo ourselves?

[2022-09-27 18:41] GrantOkawa commented on #129
Awesome, could you specify which links you would liked removed?

[2022-09-27 18:45] klieret commented on #129
![image](https://user-images.githubusercontent.com/13602468/192610424-8a08dbf0-3bc0-4d8a-8714-b9a0b00b522e.png)
it's about getting rid of the empty boxes

[2022-09-27 20:39] eduardo-rodrigues commented on #137
The DOI would have been minted if you had set up a "hook" for Zenodo. No worries, I will create the DOI by hand as I've done in several other cases. This will you will see your entry in the Zenodo link I mention above. Thanks.

[2022-09-27 20:39] #137 closed, assigned to klieret

[2022-09-30 18:33] klieret commented on #62
Should take the template from https://github.com/hsf-training/carpentry-cookiecutter

[2022-09-30 18:34] klieret commented on #62
Also maybe paste logos from mpl and mplhep into readme

[2022-10-01 01:07] GuillermoFidalgo commented on #66
In terms of having pre-filled notebooks I, it all depends on the workflow used.
If we are thinking about active training then having pre-filled notebooks will take away interest or motivation from students to pay attention.
If we are thinking of passive learning when students are reading the notes on their own, then prefilled notebooks provide an interactive environment with examples.

I believe w

[2022-10-01 18:34] Vaibhav-Chopra-GT commented on #76
Can I work on this issue?

[2022-10-01 19:20] amangoel185 commented on #76
Hi @Vaibhav-Chopra-GT, feel free to work on it! We're happy to have you here. :) Let us know if you need any help!

[2022-10-05 08:23] #76 closed, assigned to nobody

[2022-10-05 15:40] klieret opened #142 "Make this a more general "Plotting for HEP" lesson"
This would open room for bonus lessons on visualization with other libraries, e.g., using  the `hist` library for histograms

[2022-10-05 15:58] amangoel185 commented on #142
I really like this idea, we could extend into the Scikit-HEP ecosystem!

[2022-10-05 16:00] klieret commented on #142
Yeah, and I think it would also be useful to at least mention `seaborn` which can be very nice for statistical analysis

[2022-10-05 16:01] amangoel185 commented on #142
True! Although I wonder if `seaborn` is used in HEP widely?

[2022-10-06 10:37] #61 closed, assigned to amangoel185

[2022-10-17 09:30] matthewfeickert commented on #80
This was resolved in PR #141 (but the right keywords weren't used so it wasn't autoclosed).

[2022-10-17 19:28] klieret commented on #80
Thanks @matthewfeickert :)

[2022-10-17 19:28] #80 closed, assigned to nobody

[2022-11-25 13:36] #130 closed, assigned to nobody

[2022-11-25 13:38] #103 closed, assigned to nobody